
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-image: url("../images/connectwork.png");

    h1{
        color: white;
    }

    h4{
        color:white;
    }

    h3{
        color: white;
    }

    p{
        color: white;
    }

    a{
        color: #7B9983;
        font-family: 'Oswald', arial, sans-serif;
    }
}